body {
  margin: 0;
  font-family: 'Times New Roman', serif;
}

.container {
  width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #113D30;
  color: white;
}

#activateButton {
  font-size: 28px;
  padding: 5px;
  display: flex;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  transition: all 0.2s ease 0s;
  background-color: #113D30;
  color: white;
  z-index: 100;
}

.button-on {
  color: #EFC000 !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.decor {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: #F5F5F5;
  border-width: 1px;
}

.outer-border {
  margin: 12px 6px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-border {
  margin: 6px 12px;
}
